.slider .track {
    -fx-background-color: null;
}

.slider .thumb {
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-image : url("thumb.png");
    -fx-background-size: auto;
    -fx-pref-width: 10;
    -fx-pref-height: 25;
}

.progressBarObjective {
    -fx-accent : green;
}

.progressBarObjective .track {
    -fx-control-inner-background: transparent;
    -fx-background-color: transparent;
}

.progressBarDone {
    -fx-accent : #990000;
}

.progressBarDone:enabled {
    -fx-opacity: 1;
}

.progressBarDone .track {
    -fx-control-inner-background: transparent;
    -fx-background-color: transparent;
}